#!/bin/bash

TIMESTAMP=BUILD_TIMESTAMP
MAMUTE_DIR=`cygpath -w -a .`
CP_LIST="`cygpath -w -a WEB-INF/classes/`;`cygpath -w -a WEB-INF/lib/* | tr '\\n' ';'`"

echo $CP_LIST
echo $MAMUTE_DIR

java -cp $CP_LIST \
    -Ddeploy.timestamp=$TIMESTAMP \
    -Dvraptor.webappdir=${MAMUTE_DIR} \
    -Dserver.port=8282\
    ${MAMUTE_OPTS} \
    br.com.caelum.vraptor.server.Main \
    not-grunt